*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    padding: 0.5rem 0;
    touch-action: manipulation;
}

.hidden {
    display: none;
}

#app {
    --text-color: #333;
    --disabled-text-color: #666;

    color: var(--text-color);
}

#app button,
#app input {
    color: var(--text-color);
    cursor: pointer;
}

#app input:disabled,
#app button:disabled {
    color: var(--disabled-text-color);
}

input, button, select, textarea {
    font-size: 1rem;
}
