*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    padding: 0.5rem 0;
    touch-action: none;
    user-select: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

.hidden {
    display: none;
}

#app {
    --text-color: #333;
    --disabled-text-color: #666;

    color: var(--text-color);
}

button,
input {
    color: var(--text-color);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

input:disabled,
button:disabled {
    color: var(--disabled-text-color);
}

input, button, select, textarea {
    font-size: 1rem;
}
